/*
 * Copyright (c) 2026 Hsiu-Chi Tsai
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	status = "okay";

	codec: es8311@18 {
		compatible = "everest,es8311";
		reg = <0x18>;
		status = "okay";
	};
};
